html {
  font-family: @global-font-family;
  font-size: @global-font-size;
  font-weight: normal;
  color: @global-color;
}

header {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  .uk-logo {
    font-family: @global-font-family;

    img {
      width: 57px;
      height: 58px;
      margin-right: 10px;
    }

    .tm-screen-name {
      text-transform: uppercase;
      font-size: @global-medium-font-size;
      font-weight: bold;
      color: @global-inverse-color;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  background-color: @global-primary-background;
  padding: 0 35px;
  border-top: 4px solid @global-active-color;
}

h2, h3 {
  font-family: @global-font-family;
  font-size: @global-medium-font-size;
  margin: 0 0 25px;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-weight: 500;
  margin-bottom: 30px;
}

.uk-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.uk-container {
  max-width: 510px;
}

.tm-auth.uk-section {
  padding-top: 35px;
  padding-bottom: 35px;
}

.uk-container {
  padding-left: 20px;
  padding-right: 20px;
}

.uk-background-primary {
  background-color: @global-primary-background;
}

.uk-background-default {
  background-color: @global-default-background;
}

.uk-background-muted {
  background-color: @global-muted-background;
}

.uk-button {
  padding: 0 30px;
  border-radius: 50px;
  font-weight: 500;
  font-size: @global-medium-font-size;
  text-transform: none;
}

.uk-button-primary {
  background-color: @global-default-background;
  color: @global-primary-color;
  box-shadow: 4px 4px 15px #002743;

  &:hover, &:focus {
    background-color: #5CCBFF;
    color: @global-primary-color;
  }
}

.uk-button-default {
  background-color: transparent;
  color: @global-primary-color;
  border: 2px solid @global-primary-color;
  border-radius: 10px;
  height: 42px;
  text-transform: uppercase;
  font-size: @global-small-font-size;
  font-weight: bold;

  &:hover {
    color: @global-primary-color;
    border-color: darken(@global-primary-color, 10%);
  }
}

.uk-input {
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
}

.uk-accordion-title {
  position: relative;
  padding: 0 45px 0 50px;
  height: 52px;
  line-height: 52px;
  background: @global-primary-background;
  border-radius: 10px;
  font-weight: 500;
  font-size: @global-medium-font-size;
  color: @global-inverse-color;
  white-space: nowrap;

  &:hover, &:focus {
    color: @global-inverse-color;
  }

  &::before, &::after {
    position: absolute;
    display: block;
    content: '';
    background-size: contain;
    margin: 0;
    float: none;
  }

  &::after {
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 24px;
    height: 24px;
    background: url("../assets/images/info-msg.svg") no-repeat;
  }

  &::before {
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 20px;
    width: 18px;
    height: 10px;
    background: url("../assets/images/chevron-down.svg") no-repeat;
    transition: transform 0.5s;
  }

  &.tm-title-long {
    white-space: normal;
    line-height: normal;
    padding: 5px 45px 0 25px;

    &::after {
      display: none;
    }
  }

}

.uk-accordion-content {
  margin: 0 7px;
  padding: 25px 15px;
  border: 3px solid #5CCBFF;
  border-top: transparent;
  border-radius: 0 0 10px 10px;

  ol {
    list-style: none;
    counter-reset: tm-counter;
    padding: 0;

    li {
      position: relative;
      counter-increment: tm-counter;
      padding-left: 45px;
      font-size: @global-small-font-size;
      margin-bottom: 15px;

      &::before {
        position: absolute;
        display: block;
        left: 0;
        content: counter(tm-counter);
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        background-color: @global-primary-background;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        color: @global-inverse-color;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  ;
  }
}

.uk-open .uk-accordion-title::before {
  transform: translateY(-50%);
  background: url("../assets/images/chevron-down.svg") no-repeat;
}

.uk-text-primary {
  color: @global-primary-color !important;
}

.tm-screen {
  position: relative;
  display: none;
  margin-bottom: 70px;

  &.tm-map {
    margin-bottom: 0;
  }
}

.tm-screen {
  display: block;
}

.tm-section-small {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tm-auth {
  header {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 25px 45px 35px;
    text-align: center;

    .uk-logo {
      display: block;
      margin-bottom: 10px;

      img {
        width: 90px;
        height: 90px;
        margin-right: 0;
      }
    }

    .tm-screen-name {
      margin: 0 0 10px;
      color: @global-inverse-color;
    }

    h3 {
      margin: 0 0 20px;
      color: @global-inverse-color;
    }

    .uk-input {
      text-align: center;
      margin-bottom: 15px;

      &::placeholder {
        color: #098BC3;
      }

      &:last-of-type {
        margin-bottom: 30px;
      }
    }
  }
}

.tm-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  max-width: 465px;
  margin: auto;

  a {
    color: @global-inverse-color;

    &:hover, &.uk-active {
      color: @global-active-color;
      text-decoration: none;

      svg {
        stroke: @global-active-color;
      }
    }

    svg {
      display: block;
      margin: auto;
    }
  }
}

.tm-card {
  position: relative;
  border: 3px solid #5CCBFF;
  box-sizing: border-box;
  border-radius: 10px;

  a::before {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: linear-gradient(0deg, rgba(92, 203, 255, 0.4), rgba(92, 203, 255, 0.4));
  }

  &:hover {
    a::before {
      display: block;
    }
  }
}

//swapper

.tm-swapper-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 70px);
}

.tm-swapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.tm-swapper::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  background: rgba(0, 102, 174, 0.7);
  transition: opacity 1s;

  z-index: 2000;
}

.tm-swapper-holder.tm-swapping .tm-swapper::before {
  opacity: 1;
}

.tm-swapper-holder.tm-swapping .tm-animated-logo-wrapper {
  display: block;
}

.tm-offers .uk-container {
  max-width: 510px;
  margin: auto;
}

//animated logo
.tm-animated-logo-wrapper {
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  animation: mercanie-outer 3s ease-in-out infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2001;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: mercanie 3s ease-in-out infinite;

    z-index: 2002;
  }

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 130px;
    height: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: mercanie-inner 3s ease-in-out infinite;

    z-index: 2003;
  }
}

.tm-animated-logo {
  position: absolute;
  display: block;
  width: 110px;
  height: 110px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
  animation: mercanie-logo 3s ease-in-out;
  z-index: 2004;

  &::before {
    position: absolute;
    display: block;
    width: 101px;
    height: 101px;
    content: url("../assets/images/logo-swap.svg");
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: mercanie-opacity 1s ease-in-out infinite;

    z-index: 2005;
  }
}

@keyframes mercanie-outer {
  0% {
    background: transparent;
  }

  20% {
    background: transparent;
  }

  40% {
    background: transparent;
  }

  60% {
    background: transparent;
  }

  80% {
    background: rgba(92, 203, 255, 0.1);
  }

  100% {
    background: rgba(92, 203, 255, 0.1);
  }
}

@keyframes mercanie {
  0% {
    background: transparent;
  }

  20% {
    background: transparent;
  }

  40% {
    background: transparent;
  }

  60% {
    background: rgba(92, 203, 255, 0.3);
  }

  80% {
    background: rgba(92, 203, 255, 0.3);
  }

  100% {
    background: rgba(92, 203, 255, 0.3);
  }
}

@keyframes mercanie-inner {
  0% {
    background: transparent;
  }

  20% {
    background: transparent;
  }

  40% {
    background: rgba(92, 203, 255, 0.5);
  }

  60% {
    background: rgba(92, 203, 255, 0.5);
  }

  80% {
    background: rgba(92, 203, 255, 0.5);
  }

  100% {
    background: rgba(92, 203, 255, 0.5);
  }
}

@keyframes mercanie-logo {
  0% {
    background: transparent;
  }

  20% {
    background: #5CCBFF;
  }

  40% {
    background: #5CCBFF;
  }

  60% {
    background: #5CCBFF;
  }

  80% {
    background: #5CCBFF;
  }

  100% {
    background: #5CCBFF;
  }
}

@keyframes mercanie-opacity {
  50% {
    opacity: 0.7
  }
}

//modal offers
.tm-modal-offers {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 102, 174, 0.7);

  .tm-modal-close {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    background: url("../assets/images/modal-close.svg") no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      transform: translateX(-50%) scale(1.1);
    }
  }

  .tm-modal {
    position: fixed;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    max-width: 333px;
    padding: 20px 20px 30px;

    background: #FFFFFF;
    border: 3px solid #0066AE;
    border-radius: 10px;

    .tm-modal-content {

      h2 {
        color: @global-primary-color;
        text-align: center;
      }

      p {
        font-size: @global-small-font-size;
      }

      .tm-phone {
        font-weight: bold;
        font-size: @global-medium-font-size;
        color: @global-primary-color;
        text-transform: uppercase;
      }
    }
  }
}

//modal news
.tm-modal-news {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 102, 174, 0.7);

  .tm-modal-close {
    position: fixed;
    top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    background: url("../assets/images/modal-close.svg") no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      transform: translateX(-50%) scale(1.1);
    }
  }

  .tm-modal {
    position: fixed;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    max-width: 333px;
    padding: 20px 5px 30px 20px;

    background: #FFFFFF;
    border: 3px solid #0066AE;
    border-radius: 10px;

    max-height: 70vh;

    overflow: auto;

    .tm-modal-content {

      h2 {
        color: @global-primary-color;
        text-align: center;
      }

      p {
        font-size: @global-small-font-size;
      }

      .tm-phone {
        font-weight: bold;
        font-size: @global-medium-font-size;
        color: @global-primary-color;
        text-transform: uppercase;
      }
    }
  }
}

.tm-balance-display {
  background: @global-primary-background;
  border-radius: 10px;
  padding: 30px 25px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  color: @global-inverse-color;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  max-width: 510px;
  margin: auto;

  .tm-caption {
    text-transform: uppercase;
  }

  .tm-cash {
    span {
      font-size: 36px;
      line-height: 41px;
    }
  }
}

.tm-balance-control, .tm-subscription-control, .tm-last-operations {
  padding: 0 25px;
  max-width: 510px;
  margin: auto;

  h2 {
    text-align: center;
    color: @global-inverse-color;
  }

  h3 {
    color: @global-inverse-color;
  }

  .tm-balance-buttons, .tm-subscription-buttons {
    margin-bottom: 40px;

    > * {
      margin-bottom: 20px;
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .tm-balance-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #098BC3;
    text-align: center;

    &:hover, &.uk-active {
      background: #D0ECFF;
      color: #098BC3;
      text-decoration: none;
    }
  }

  .uk-input {
    color: #098BC3;
    font-weight: 500;
    font-size: @global-medium-font-size;
    text-align: center;

    &::placeholder {
      color: #098BC3;
      font-weight: 500;
      font-size: @global-medium-font-size;
    }
  }

  .uk-button {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
}

.tm-subscription-monitor {
  width: 100%;
  max-width: 510px;
  height: 60px;
  line-height: 54px;
  font-size: @global-medium-font-size;
  font-weight: 500;
  color: @global-inverse-color;
  text-align: center;
  margin-bottom: 25px;

  border: 2px solid @global-inverse-color;
  box-sizing: border-box;
  border-radius: 10px;
}

.tm-subscription-cancel {
  display: block;
  font-size: @global-medium-font-size;
  font-weight: 500;
  color: @global-inverse-color;
  text-align: center;

  &:hover {
    color: darken(@global-inverse-color, 20%);
    text-decoration: none;
  }
}

.tm-section-last-operations {
  padding-top: 0;
}

.tm-last-operations {
  padding: 0;

  h2 {
    color: @global-primary-color;
  }

  h3 {
    color: @global-primary-color;
  }

  .uk-accordion-title {
    font-weight: 500;
    font-size: @global-medium-font-size;
    padding: 0 45px 0 60px;

    &::after {
      left: 25px;
      background: url(../assets/images/icon-operation.svg) no-repeat;
    }
  }

  .uk-accordion-content {
    font-size: @global-small-font-size;
  }

  .uk-accordion-content span {
    font-weight: 500;
    color: @global-primary-color;
  }

}

.tm-positive {
  .uk-accordion-title {
    color: #6FCF97;
  }
}

.tm-negative {
  .uk-accordion-title {
    color: #F1A8A8;
  }
}

.js-tab {
  display: none;

  &.uk-active {
    display: block;
  }
}

.tm-map-form {
  padding: 0 25px;

  .uk-input {
    display: block;
    color: #098BC3;
    font-weight: 500;
    font-size: @global-medium-font-size;
    text-align: center;
    max-width: 390px;
    margin: auto;
    margin-bottom: 35px;

    &::placeholder {
      color: #098BC3;
      font-weight: 500;
      font-size: @global-medium-font-size;
    }
  }

  .uk-button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}

.tm-message {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  top: 0;
  z-index: 3000;
  padding: 0 40px 0 55px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 4px solid transparent;
  transition: top 1s;
  color: #000;

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-size: contain;
  }

  &.error {
    border-bottom: #EB5757;
    &::before {
      background: url("../assets/images/icon-err.svg") no-repeat;
    }

  }

  &.novalid {
    border-bottom: #EB5757;
    &::before {
      background: url("../assets/images/icon-err.svg") no-repeat;
    }

  }

  &.success {
    border-bottom: #73BC00;

    &::before {
      background: url("../assets/images/icon-succ.svg") no-repeat;
    }
  }
}

.tm-map-holder {
  min-height: 280px;
}

.tm-accordion-desktop {
  display: none;
}

.tm-section-operator {
  font-size: @global-medium-font-size;
  padding-top: 15px;

  .uk-button {
    display: block;
    width: 100%;
    max-width: 510px;
    margin: auto;
  }
}

.tm-section-tabs {
  padding-bottom: 30px;
}

.tm-tabs {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 510px;
  height: 43px;
  box-sizing: border-box;
  border: 2px solid @global-primary-color;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    width: 46%;
    background-color: @global-primary-background;
    z-index: -1;
    transition: all 1s;
  }

  &.js-position-2::before {
    left: 46%;
    width: 42%;
  }

  &.js-position-3::before {
    left: 88%;
    width: 13%;
  }

  .tm-tab {
    line-height: 38px;
    text-transform: uppercase;
    cursor: pointer;
    color: @global-primary-color;
    border-right: 2px solid @global-primary-color;
    transition: all 1s;
    box-sizing: border-box;
    text-align: center;

    svg path {
      transition: fill 1s;
    }

    &.uk-active {
      //background-color: @global-primary-background;
      color: @global-inverse-color;

      svg path {
        fill: @global-inverse-color;
      }
    }

    &:first-child {
      padding: 0 20px;
      width: 46%;
    }

    &:nth-child(2) {
      padding: 0 20px;
      width: 42%;
    }

  }

  .tm-sheet {
    width: 12%;
    text-align: center;
    line-height: 36px;
    border-right: transparent;
  }

  &.tm-two-tabs {

    &::before {
      width: 50%;
    }

    &.js-position-2::before {
      left: 50%;
    }

    .tm-tab {
      &:first-child {
        width: 50%;
      }

      &:nth-child(2) {
        width: 50%;
        border-right: transparent;
      }
    }
  }
}

.tm-balance-main {
  display: block;
}

.tm-operator-profile {
  display: block;
  font-size: @global-small-font-size;

  .tm-button-back {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .tm-profile-heading {
    font-size: @global-medium-font-size;
    font-weight: 500;
    color: @global-color;
    text-align: center;
  }

  .tm-logo-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75px;
    height: 75px;

    background: @global-default-background;
    border: 3px solid @global-primary-color;
    border-radius: 50%;
    box-sizing: border-box;

    margin-right: 20px;
  }

  .tm-logo-text {
    font-weight: bold;
    font-size: @global-font-size;
    color: @global-primary-color;
  }

  .tm-tab-heading {
    font-size: @global-font-size;
    color: @global-primary-color;
  }

  .tm-emphasis {
    font-weight: 500;
    color: @global-primary-color;
  }

  .tm-button-document {
    display: block;
    width: 100%;
    height: 43px;
    line-height: 40px;

    background: @global-primary-background;
    border: 2px solid @global-active-color;
    box-sizing: border-box;
    border-radius: 10px;

    margin-bottom: 10px;

    font-weight: bold;
    font-size: @global-small-font-size;
    color: @global-inverse-color;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tm-contacts-block {
    font-size: @global-small-font-size;

    span {
      font-weight: bold;
    }
  }

  .tm-news {
    padding: 20px 0;
    font-weight: normal;
    font-size: @global-small-font-size;

    .tm-heading {
      font-weight: 500;
      font-size: @global-font-size;
      margin-bottom: 15px;
    }

    &.tm-news-pinned {
      color: @global-primary-color;
    }

    .tm-news-item {
      position: relative;
      display: flex;
      margin-bottom: 15px;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background: transparent;
        transition: all 0.5s;
        border-radius: 10px;
      }

      &:hover {
        text-decoration: none;
      }

      &:hover::before {
        background: @global-muted-background;
      }

      .tm-image-holder {
        position: relative;
        display: block;

        width: 123px;
        //height: 97px;
        padding-top: 79px;
        height: 0;

        border: 2px solid @global-active-color;
        box-sizing: border-box;
        border-radius: 10px;

        margin-top: 5px;
        margin-right: 15px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 100%;
          max-height: 100%;
          border-radius: 10px;
        }
      }

      .tm-heading {
        margin-bottom: 5px;
      }
    }
  }
}

.js-news-full {
  display: none;
}

.tm-auth, .tm-info {
  .uk-container {
    max-width: 710px;
  }
}

//adaptive!
@media (min-width: 768px) {

  h3 {
    text-align: center;
  }

  .tm-accordion-mobile {
    display: none;
  }

  .tm-accordion-desktop {
    min-height: 280px;
    width: 710px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    > * {
      width: 340px;

      > :nth-child(n+2) {
        margin-top: 20px;
      }
    }

    > :nth-child(2) {
      margin-top: 0;
    }
  }
}

@media (max-width: 767px) {
  .tm-navbar a:hover {
    color: @global-inverse-color;
  }

  .tm-navbar a:hover svg {
    stroke: @global-inverse-color;
  }
}

@media (max-width: 424px) {
  .tm-section-operator .uk-button {
    padding: 0 10px;
    font-size: 12px;
  }

  .tm-subscription-cancel, .js-subscription-add {
    font-size: @global-small-font-size;
  }

  .tm-tabs .tm-tab {
    font-size: @global-small-font-size;

    &:nth-child(-n+2) {
      padding: 0 15px;
    }
  }

  .tm-operator-profile .tm-news {
    padding: 10px 0;
    font-size: 12px;
  }

  .tm-operator-profile .tm-news .tm-heading {
    font-size: @global-small-font-size;
    line-height: 16px;
    margin-bottom: 10px;
  }
}
